@use '../../index.scss';

.header {
  width: 100%;
  height: index.$headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__logo {
    color: white;
    margin-left: 15px;
    font-size: 1.5rem;
  }

  &__spacer {
    flex: 1;
  }

  &__blue {
    background-color: index.$appPrimaryColor;
  }

  &__red {
    background-color: rgb(136, 3, 3);
  }

  // &__button {
  //   width: 70px;
  //   height: 35px;
  //   background-image: white;
  //   color: black;
  //   margin-right: 15px;
  //   border: none;
  //   border-radius: 10px;
  //   cursor: pointer;

  //   &:hover {
  //     background-color: wheat;
  //   }
  // }
}